html,
body {
    margin: 0;
    height: 100%;
    background-color: rgb(248, 248, 247);
}

header {
    height: 5%;
    width: 95%;
    background-color: coral;
    padding-left: 5%;
    color: white;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;    
    z-index: 100;
}

#container {
    display: flex;
    flex: 1 1 0;
}

#left {
    height: 100%;
    width: 30vh;
    background-color: rgb(240, 240, 238);
    padding-left: 3vh;
    padding-top: 3vh;
    position: fixed;
    z-index: 0;
}

#main {
    height: 100%;
    width: 75vw;
    padding-left: 30vh;
    padding-top: 10vh;
}

#mainTop {
    height: calc(10% - 2px);
    width: 90%;
    border-bottom: 2px solid rgba(201, 195, 195, 0.541);
    display: flex;
    align-items: flex-end;
    padding-left: 10%;
}

#currentPageTitle {
    font-size: 2rem;
    line-height: 8px;
    font-weight: bold;
    height: 15px;
}

.material-icons {
    font-size: 30px !important;
    padding-left: 10px;
}

.leftContent {
    height: 5%;
    width: 95%;
    border-radius: 5px;
    display: flex;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
}

.leftContent:hover {
    background-color: rgb(248, 248, 247);
    font-weight: bold;
}

.leftContentText {
    margin-left: 10px;
}

#listContainer {
    padding-left: 10%;
    box-sizing: border-box;
}

.list {
    padding-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    height: 5%;
}

#addPlus {
    color: coral;
    padding: 0 0 5px 0;
    margin: 0 10px 0 0;
}

#add {
    border: 0;
    cursor: pointer;
    color: rgb(114, 112, 112);
    margin: 0;
}

#add:hover {
    color: coral;
}

::placeholder {
    font-size: 1rem;
}

#form {
    border-radius: 5px;
    border: 1px solid;
    height: 60px;
    width: calc(100% - 20px);
    padding: 10px;
    display: none;
    margin-top: 10px;
}

.formIcon {
    font-size: 24px !important;
    cursor: pointer;
}

#formBottom {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

input {
    height: 50%;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: inherit;
    font-size: 1rem;
}

input:focus {
    outline: 0;
}

#formSubmit {
    height: 30px;
    align-items: center;
    margin-top: 10px;
    display: none;
}

#submit {
    width: 90px;
    height: 30px;
    background-color: coral;
    opacity: 0.5;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

#cancel {
    cursor: pointer;
}

#cancel:hover {
    text-decoration: underline;
}

.taskList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(201, 195, 195, 0.541);
}

.bullet {
    height: 24px;
    width: 24px;
    margin-right: 24px;
    content: url(../dist/assets/circle.png);
    cursor: pointer;
    user-select: none;
}

.bullet:hover {
    content: url(../dist/assets/circle_check.png);
}

.listInside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project {
    border-radius: 15px;
    background-color: blueviolet;
    height: 20px;
    padding: 5px 15px 5px 15px;
    margin-right: 15px;
    color: white;
}

.date {
    margin-right: 15px;
}

.priority {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#formBottomLeft {
    display: flex;
    align-items: center;
}

#datepickerContainer {
    border: 1px solid;
    border-radius: 15px;
    padding: 3px 0 3px 0;
    overflow: hidden;
    height: 1.2em;
}

#datepickerContainer:hover {
    background-color: rgb(240, 235, 235);
}

#datepicker {
    width: 80px;
    padding-left: 15px;
    position: relative;
    user-select: none;
    font-size: 0.9em;
    height: 100%;
}

input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    right: 0;
    background: none;
    cursor: pointer;
}

.formIcon {
    margin-right: 5px;
}

#projectChooser {
    border: 1px solid;
    padding: 0 10px 0 0;
    margin-left: 10px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    height: 1.6em;
}

#projectChooser:hover {
    background-color: rgb(240, 235, 235);
}

#projectChooserCol {
    margin-top: 5px;
    width: 300px;
    top: 1.8em;
    left: -4em;
    position: absolute;
    display: none;
    border: 1px solid;
    background-color: white;
    z-index: 1;
    display: block;
    height: 150px;
    overflow: scroll;
    border-radius: 5px;
    padding: 0;
}

.projectChoice {
    height: 40px;
    width: calc(100% - 10px);
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.projectChoice:hover {
    background-color: rgb(240, 235, 235);
}

.projectList {
    height: 30px;
    display: list-item;
    list-style-position: inside;
    padding-top: 10px;
}

li span {
    position: relative;
    left: 10px;
}

.projectList::marker {
    content: '● ';
}

#projectCreator {
    border-bottom: 1px solid rgba(201, 195, 195, 0.541);
    display: flex;
    justify-content: space-around;
}

#projectCreator:hover {
    background-color: white;
}

#projectCreatorAdd {
    padding: 0;
}

#priorityChooser {
    position: relative;
    font-size: 1.9rem;
    cursor: pointer;
    user-select: none;
}

#priorityChooserCol {
    height: 100px;
    width: 200px;
    left: -3em;
    position: absolute;
    display: none;
    border: 1px solid;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#priorityChooserText {
    margin: 0;
    font-weight: bold;
}

.priorityChooserColChoice {
    height: calc(100% / 3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.6em;
}

.priorityChooserColChoice:hover {
    background-color: rgb(240, 235, 235);
}

#noToday {
    margin-bottom: 20px;
    font-size: 1.75rem;
    display: none;
}

#small {
    opacity: 0.5;
    font-size: 0.65em;
}